{% load i18n static user_agents webdesign %}
<meta name="abstract" content="{% blocktrans with name=app.name %}{{ name }} FAQ | ikwen Apps Support{% endblocktrans %}" />
<meta property="og:url" content="{{ service.url }}/{{ app.slug }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{% blocktrans with name=app.name %} Common questions with {{ name }} | {{ name }} Support {% endblocktrans %}" />
<meta property="og:image" content="{{ settings.IKWEN_MEDIA_URL }}{{ app.logo.name }}" />
<meta property="og:description" content="{% trans 'Become a shareholder of major companies' %}" />
<meta name="description" content="{% trans 'Earn a percentage on the turnover of your favorite companies by joining ikwen Daraja program for free' %}" />
<meta property="og:site_name" content="ikwen.com/{{ app.name }}" />