{% load i18n static user_agents webdesign %}
<meta name="abstract" content="{% blocktrans with name=app.name %}{{ name }} FAQ | ikwen Apps Support{% endblocktrans %}" />
<meta property="og:url" content="{{ service.url }}/{{ app.slug }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{% blocktrans with name=app.name %} Common questions with {{ name }} | {{ name }} Support {% endblocktrans %}" />
<meta property="og:image" content="{{ settings.IKWEN_MEDIA_URL }}{{ app.logo.name }}" />
<meta property="og:description" content="Web apps to empower your small or big business" />
<meta name="description" content="IKWEN provides you with very simple Cloud Apps to take your business to digital world hassle free" />
<meta property="og:site_name" content="ikwen.com/{{ app.name }}" />