{% extends 'core/base_bs.html' %}
{% load i18n static humanize auth_tokens user_agents %}

{% block page_title %}
    <title>{{ app_name }} - {% trans 'FAQ' %}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    {% block meta %}
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="http://assets.ikwen.com/ikwen/favicons/ms-icon-144x144.png">
        <meta name="abstract" content="{{ service.project_name }} - {{ config.slogan }}" />
        <meta name="description" content="{{ config.short_description }}" />
        <meta property="og:title" content="{{ service.project_name }}" />
        <meta property="og:image" content="{% get_media_prefix %}{{ config.logo.name }}" />
        <meta property="og:description" content="{{ config.short_description }}" />
        <meta property="og:url" content="{{ service.url }}" />
        <meta property="og:site_name" content="{{ service.domain|upper }}" />

    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Custom css -->
    {% block custom-css %}
        <link rel="stylesheet" type="text/css" href="{% static 'faq/css/faq.css' %}">
        <link rel="icon" type="image/jpg" href="{% static 'faq/img/ikwen_kernel_logo.png' %}">
    {% endblock %}
{% endblock %}

{% block content %}
    {% block banner %}
        <div class="query-section">
            <div class="container question-search3 form-group" >
                <form role="form" class="horizontal-form" action="{% url 'question_list' %}"  name="formQuestion" id="form-question">
                    <div class="question-guide">
                        <p class="col-12">
                            <h2>
                                {% if app.name %}
                                    {% trans "How can we help you on " %} {{ app.name }} <img width="40" src="{{ settings.IKWEN_MEDIA_URL }}{{ app.logo.name }}"> ?
                                {% else %}
                                    {% trans "How can we help you ?" %}
                                {% endif %}

                            </h2>
                        </p>
                    </div>
                    <div id="input">
                        <div class="container-fluid ">
                            <label class="sr-only" for="question">question search</label>
                            <input  type="text" value="" placeholder="{% trans "Describe your question" %} " name="question" id="question" size="40" autofocus class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="browsing-guide" >
                        <p class="col-4">
                            <h4>
                                {% trans "You can also browse the topics to find what you are looking for" %}
                            </h4>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
    {% block body-page %}
        <div class="container-fluid" id="core-general-faq">
            <div class="row" style="padding: 0 0 125px;">
                <div class="panel-group" id="accordion" style="margin-bottom: 0;">
                    {% for category in category_list %}
                      <div class="panel panel-default accordion-card mb-lg-auto mb-5 col-sm-6 col-sm-offset-3">
                        <div class="panel-heading accordion-header">
                          <h4 class="mb-0 headding-style panel-title">
                            <a class="category-name" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                                {{ category.name }}
                                <i class="fas fa-angle-right rotate-icon italic-style" aria-hidden="true"></i>
                            </a>
                          </h4>
                        </div>
                        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse accordion-body w3-z">
                          <div class="panel-body panel-question">
                              <ul class="list-unstyled nav nav-pills nav-stacked" >
                                {% for topic in category.topic_set.all %}
                                    <li>
                                        <span>
                                            <a href="{% url 'topic_detail' app_slug=category.app.slug category_slug=category.slug question_slug=topic.question.slug %}" class="question-of-category">
                                                {% if request|is_mobile %}
                                                    {{ topic.get_question_text|truncatechars:22 }}
                                                {% else %}
                                                    {% if request|is_tablet %}
                                                        {{ topic.get_question_text|truncatechars:52 }}
                                                    {% elif request|is_pc %}
                                                        {{ topic.get_question_text|truncatechars:74 }}
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                        </span>
                                    </li>
                                {% endfor%}
                              </ul>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    <div class="mb-lg-auto mb-5 col-sm-6 col-sm-offset-3">
                        <a href="{% url 'faqhome' %}" class="go-home">
                            {% trans 'Go back home' %}
                        </a>
                    </div>
                </div>

            </div>

        </div>
    {% endblock %}
<!-- Card -->
{% endblock %}
{% block footer %}
 <footer class="footer">
     <div class="container">
         <div class="row footer-core" >
             <div class="col-sm-4 col-xs-4 footer-mobile-adjust">
                 <h5 class="h5-footer-core">{% trans "Get started" %}</h5>
                 <ul class="footer-links-group">
                     <li><a class="footer-links" href="http://www.ikwen.com">{% trans "Home" %}</a></li>
                     <li><a class="footer-links" href="http://www.ikwen.com/signIn" target="_blank">{% trans "Sign In" %}</a></li>
                     <li>
                         <form action="{% url 'set_language' %}" method="post" id="lang-selector">{% csrf_token %}
                             {% get_available_languages as LANGUAGES %}
                             {% get_current_language as LANGUAGE_CODE %}
                                 <label for="language" class="sr-only">Language:</label>
                                 <select class="lang-switcher" style="background: #233682; border-color: #fff; color:#fff" name="language" onfocus="$(this).children('option').css({'background-color':'#ffffff','color':'#1d3321'})" onchange="$(this).parents('form').submit()">
                                     {% for lang in LANGUAGES %}
                                        <option onblur="$(this).parent().blur()" value="{{ lang.0 }}"{% if lang.0 == LANGUAGE_CODE %} selected  {% endif %}>
                                            <span>{{ lang.0|upper }}</span>
                                        </option>
                                     {% endfor %}
                                 </select>
                         </form>
                     </li>
                 </ul>
             </div>
             <div class="col-sm-4 col-xs-4 footer-mobile-adjust">
                 <h5 class="h5-footer-core">{% trans "About us" %}</h5>
                 <ul class="footer-links-group">
                     <li><a class="footer-links" href="http://www.ikwen.com/about" target="_blank">{% trans "Our Company" %}</a></li>
                     <li><a class="footer-links" href="#" target="_blank">{% trans "Reviews" %}</a></li>
                 </ul>
             </div>
             <div class="col-sm-4 col-xs-4 footer-mobile-adjust">
                 <h5 class="h5-footer-core">{% trans "Support" %}</h5>
                 <ul class="footer-links-group">
                     <li><a class="footer-links" href="{% url 'faqhome' %}" target="_blank">{% trans "FAQ" %}</a></li>
                     <li><a class="footer-links" href="http://blog.ikwen.com/" target="_blank">{% trans "Blog" %}</a></li>
                     <li><a class="footer-links" href="http://support.ikwen.com/" target="_blank">{% trans "Help desk" %}</a></li>
                 </ul>
             </div>

         </div>
     </div>
     <div class="footer-copyright mobile-adjust ">
         © 2019 <a class="company-name" href="http://www.ikwen.com"><strong class="copy-right-name">ikwen</strong></a>
     </div>
 </footer>

{% endblock %}


<div class="edge-swipe-overlay"></div>


{% block js %}
    {{ block.super }}

    <script type="text/javascript" src="{% static 'ikwen/js/jquery.autocomplete.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ikwen/js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ikwen/js/jquery-ui.js' %}"></script>
    {% block js-core %}
    <script>
        $(function () {
            $('body').find('.navbar-default .navbar-brand').css({'margin-left': '0!important',
                'max-width': '125px!important',
                'overflow': 'hidden!important;'});

            $("#question").change(function () {
                var q = $(this).val(),
                    autocomplete_infos,
                    endpoint = "{% url 'autocomplete_user_research' %}",
                    params = {
                    format: 'json',
                    q:q
                } , items = [];

                $.getJSON(endpoint,params,function (data,status,jqXHR) {
                   if (data.success) {
                       autocomplete_infos = data.data;
                       var topic_list_with_keyword_in_question = new Object(autocomplete_infos['topic_list_with_keyword_in_question']),
                           topic_list_with_keyword_in_answer = new Object(autocomplete_infos['topic_list_with_keyword_in_answer']),
                           category_list = new Object(autocomplete_infos['category_list']),
                           category, sentence, topic;

                       for (category in category_list ) {
                           var item1 = {};
                           item1.value =  category_list[category]['name'];
                           item1.label = category_list[category]['name'];
                           item1.content = "";
                           item1.object = this;
                           items.push(item1);

                       }
                       $.each(topic_list_with_keyword_in_answer,function (ind,topic) {
                           var item2 = {};
                           item2.value = topic["question_text"];
                           item2.label =  item2.value;
                           item2.content = function () {
                               var sentence_list = topic["sentence_with_keyword"],
                                   paragraph = "";
                               $.each(sentence_list,function (ind,sentence) {
                                   paragraph+= sentence;
                               });
                               return paragraph;
                           }();
                           item2.object = this;
                           items.push(item2);

                       });
                       $.each(topic_list_with_keyword_in_question,function (ind,topic) {
                           var item3 = {};
                          item3.value = topic["question_text"];
                          item3.label =  item3.value;
                          item3.content = "";
                          item3.object = this;
                          items.push(item3);

                       });
                   } else {
                       if ( data.error ){
                           console.log("No message received.");
                       }
                   }
                });
                console.log(items);
                $(this).autocomplete({
                   source: items,
                   html: true,
                   delay: 100,
                   minLength: 4,
                   scroll: true,
                   disabled: false,
                   open: function (event) {
                        var $div = $(this).autocomplete("widget");
                        $div.css({"width":$(this).width()+30,"z-index":"10","margin-top":"10px"});
                   },
                   create: function () {
                       $(this).data( "ui-autocomplete" )._renderItem = function(ul, item) {
                           return $("<li>")
                               .data( "item.autocomplete", item )
                               .attr("data-value", item.value)
                               .append( "<a>"+ item.label + "<br>"+item.content+"</a>" )
                               .appendTo( ul );
                       };
                   }
                });
            });
        })
    </script>
    {% endblock %}
    {% block accordion %}
        <script type="text/javascript">
            $(function () {
              var selector = $("a.category-name"),
                categories = $.makeArray(selector), previous_click_index = -1, previous_click = null, clickIndex = -1,
                angle_icon = $("i.fas");
                $(this).find(selector).click(function () {
                    var current_click_index = $.inArray(this, categories),
                        current_click = $(this);
                    clickIndex ++;
                    if ( current_click_index !==-1 ){
                        if ( previous_click_index !== current_click_index ) {
                            if (clickIndex) {
                                previous_click.parents(".accordion-card").removeClass("card-bgd");
                                previous_click.parents(".accordion-header").removeClass("card-header-bgd");
                                previous_click.find(angle_icon).removeClass("fa-angle-down").addClass("fa-angle-right");
                            }
                        }
                        current_click.parents(".accordion-card").toggleClass("card-bgd");
                        current_click.parents(".accordion-header").toggleClass("card-header-bgd");
                        if ( current_click.hasClass("fa-angle-down") ) {
                            current_click.find(angle_icon).toggleClass("fa-angle-right fa-angle-down");
                        } else {
                            current_click.find(angle_icon).toggleClass("fa-angle-down fa-angle-right");
                        }
                    }
                    previous_click_index = current_click_index ;
                    previous_click = current_click;
                });
                $(".panel-question li").on({
                    click:function () {
                        $(this).addClass('card-body-bgd');
                        $(this).find('a').addClass('card-child-bgd');
                        },
                    mouseenter:function () {
                        $(this).addClass('card-body-bgd');
                        $(this).find('a').addClass('card-child-bgd');
                        },
                    mouseout:function () {
                        $(this).removeClass('card-body-bgd');
                        $(this).find('a').removeClass('card-child-bgd');
                        },
                    mouseleave:function () {
                        $(this).removeClass('card-body-bgd');
                        $(this).find('a').removeClass('card-child-bgd');
                        },
                    mouseover:function () {
                        $(this).addClass('card-body-bgd');
                        $(this).find('a').addClass('card-child-bgd');
                    }
                });
            })
        </script>
    {% endblock %}
    {% block customjs-pagecode %}{% endblock %}

{% endblock %}




















