{% extends 'core/change_object_base.html' %}
{% load i18n static admin_static staticfiles %}

{% block head_style %}
    {{ block.super }}
    <style>
        #image-list {background: #EEE; border: dashed 1px #AAA; border-radius: 15px; margin-top: 35px; height: 350px; padding: 15px; overflow-y: auto; width: 1040px}
        #image-list .media-ctnr {border: solid 1px #ccc; border-radius: 12px; float: left; height: 150px; margin: 10px;padding: 5px; width: 130px}
        #image-list .media-ctnr:hover {box-shadow: 8px 8px 12px #aaa;}
        div#image-list .image {background-position: center; background-size: cover; float: left; height: 130px; width: 130px}
        #image-list .media-ctnr img {border-radius: 10px;max-height: 160px; width: 100%}
        #image-list .media-ctnr .delete-media {cursor: pointer; font-size: 14px;float: left;padding: 2px 0; text-align: center; width: 100%}
        #image-list .media-ctnr .delete-media:hover {color: #7a1e31}
        {#.qq-upload-button {background:#00aac9; border: 1px solid #37B7CC;border-radius: 2px; color: #fff; padding: 15px 25px; float: left; clear: both; margin-top: 20px;}#}
        .qq-upload-button {background:#00aac9; border: 1px solid #37B7CC;border-radius: 2px; color: #fff; float: left; clear: both; height: 36px;}
        .images-uploader .qq-upload-button {line-height: 35px}
        .qq-upload-button:not(.qq-upload-button-hover){color: #eee}
        .qq-upload-success, .qq-upload-drop-area {display: none!important;}
        .qq-uploader {height: 0; padding-top: 0}
        #upload-container {float: left; clear: both}
        #image-cntr {float: left; clear: both}
        .loading {background: url("{% static 'faq/img/hand-spinner-gif-1.gif' %}"); transition: background 8s; background-size: 41% auto;background-color: #ffffffa1;background-position: center; background-repeat: no-repeat; display: none; height: 374px;margin: -12px;position: absolute;width: 1068px}
    </style>
{% endblock %}

{% block admin_content %}
    {{ block.super }}
    <section id="image-cntr" class="hidden-xs">
        <div id="image-list" class="">
            <div class="loading"></div>
            <div class="media-ctnr frame draggable tpl" draggable="true">
                <img class="image" />
                <span class="delete-media">Delete</span>
            </div>
        </div>
        <div id="tiny-mce-uploader" class="images-uploader btn btn-primary col-sm-4 col-sm-offset-3" style="margin-top: 30px; padding: 0"></div>
    </section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        (function () {
            var properties = {
                menubar: false,
                statusbar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code'
                ],
                paste_data_images: true,
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                    '//www.tinymce.com/css/codepen.min.css'
                ],
                selector: '#id_answer',
                height: 300,
                toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table link image media code',
                insert_button_items: 'charmap anchor insertdatetime',

            };

            if ($(window).width() >= 768) {
                properties['width'] = 740
            }

            tinymce.init(properties);
            $('textarea').addClass('dropper');

            var endpoint = "{% url 'get_media' %}";
            $.getJSON(endpoint, function(data) {
                $('body, button.confirm').css('cursor','default');
                if (data.error) {
                    $('div#top-notice-ctnr span').html(data.error).addClass('failure');
                    $('#top-notice-ctnr').fadeIn().delay(5000).fadeOut();
                } else {
                    populateMedia(data.media_list)
                    $('#image-cntr').insertAfter('#id_answer');
                    $("<div class='clearfix'></div>").insertAfter('#image-cntr');
                }
                return false
                });
            function populateMedia(media) {
                if (media.length <= 0) {
                    var $emptyRow = $('<div class="empty-grid" colspan="10">No data found</div>')
                    $emptyRow.insertBefore('.media-ctnr.tpl')
                    return
                }
                var $list = $('<div></div>')
                for (var i = 0; i < media.length; i++) {
                    var $newRow = $('#image-list .media-ctnr.tpl').clone().removeClass('tpl')
                    $newRow = applyMediaTemplate($newRow, media[i]).show()
                    $list.append($newRow)
                }
                $list.children().insertBefore('#image-list .media-ctnr.tpl')

            }
            function applyMediaTemplate($tpl, media){
                $tpl.attr('filename', media);
                $tpl.find('.image').attr('src', media);
                return $tpl
            }
            var uploader = new qq.FileUploader({
                action: "{% url 'upload_image' %}",
                element: $('div#tiny-mce-uploader')[0],
                buttonText: "Upload files",
                multiple: false,
                onSubmit: function(id, fileName) {
                    var uploadId = 'u' + id;
                },
                onProgress: function() {
                    $('div#image-list .loading').show();
                },
                onComplete: function(id, fileName, responseJSON) {
                    if(responseJSON.success) {
                        var photo = {id: responseJSON.id, url: responseJSON.path},
                            img = new Image();
                        img.onload = function() {
                            var $newRow = $('#image-list .media-ctnr.tpl').clone().removeClass('tpl')
                            $newRow.find('.image').attr('src', photo.url);
                            $('div#image-list .loading').hide();
                            $newRow.insertBefore('#image-list .media-ctnr.tpl').show()
                        };
                        img.src = photo.url;
                    } else {
                        alert("upload failed!");
                    }
                },
                params: {
                    'csrf_token': '{{ csrf_token }}',
                    'is_tiny_mce': 'yes',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken',
                }
            });

            $('body').on('click', '#image-list .media-ctnr .delete-media', function() {
                var response = confirm("Do you realy want to delete this image ?");
                if (response !== true) return
                else {
                    var filename = $(this).parent('.media-ctnr').find('img').attr('src');
                    $.getJSON('{% url 'delete_photo' %}', {filename: filename});
                    $(this).fadeOut('normal', function() {
                        $(this).parent().remove()
                    });
                }
            });
        })()
    </script>
    <script>
        (() => {
            {% if not obj %}
                let topicId = "{{ request.GET.topic_id }}", lang = "{{ request.GET.lang }}",
                $topicId = $('#id_topic').val(topicId), $lang = $('#id_language').val(lang);

                if (topicId !== '' || lang !== '') {
                    $topicId.prop('disabled', true).change(listBaseVersion);
                    $lang.prop('disabled', true);
                }
                listBaseVersion();

                function listBaseVersion() {
                    $.getJSON('', {'action': 'list_base_versions', 'topic_id': topicId}, (data) => {
                        let options = '';
                        for (let i = 0; i < data.length; i++) {
                            options += `<option value="${data[i].id}">${data[i].label}</option>`;
                        }
                        $('#id_base_lang_version').html(options);
                    });
                }
            {% endif %}

        })()
    </script>
{% endblock %}