{% extends 'faq/show_topic_list.html' %}
{% load i18n static user_agents webdesign %}
{% block page_title %}
    <title> ikwen FAQ </title>
{% endblock %}

{% block banner_title %}
<h2>
    <span class="hidden-xs">{% trans "How can we help you ?" %}</span>
</h2>
{% endblock %}


{% block body-page %}
<div id="parent-core-home-faq">
    <div class="container" id="core-home-faq">
        <div class="row custom_row">
            <div class="col-lg-12 col-md-12 col-sm-12 section-features-text">
                <h2 class="mobile-adjust">{% trans "Frequently Asked Questions" %}</h2>
            </div>
        </div>
        <div class="row">
            {% for app in app_list %}
                <div class="col-md-6 app-card">
                    <a class="img-link" href="{% url 'faq:show_topic_list' app.slug %}">
                        <h4>
                            <img class="picture-features" src="{{ settings.IKWEN_MEDIA_URL }}{{ app.logo.name }}">
                            <span>{{ app.name }}</span>
                        </h4>
                    </a>
                    <div>
                        <ol>
                            {% for question in app.question_list %}
                                {% if forloop.counter <= 5 %}
                                    <li>
                                        <a href="{% url 'faq:question_detail' app.slug question.topic.slug question.slug %}">
                                            {{ question.label }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li><a href="{% url 'faq:show_topic_list' app.slug %}" class="parent-link-full-display"><span class="link-full-display">{% trans 'View all questions' %}</span></a></li>
                        </ol>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
