{% extends 'faq/app_categories.html' %}
{% load i18n staticfiles auth_tokens static user_agents %}
{% block page_title %}
    <title> ikwen FAQ </title>
{% endblock %}


{% block body-page %}
<div id="parent-core-home-faq">
    <div class="container" id="core-home-faq">
        <div class="row custom_row">
            <div class="col-lg-12 col-md-12 col-sm-12 section-features-text">
                <h2 class="mobile-adjust">{% trans "Frequently Asked Questions" %}</h2>
            </div>
        </div>
        <div class="row">
            {% for app in app_list %}
                <div class="col-md-6 app-card">
                    <a class="img-link" href="{% url 'app_categories_list' app.slug %}">
                        <h4>
                            <img class="picture-features" src="{{ settings.IKWEN_MEDIA_URL }}{{ app.logo.name }}">
                                {{ app.name.split|first }}
                        </h4>
                    </a>
                    <div>
                        <p class="paragraph">
                            <ol class="ordered-list-style">
                                {% for topic in app.topic_list %}
                                    {% if forloop.counter  <= 5 %}
                                        <li>
                                            <a id="question" href="{% url 'topic_detail' app_slug=app.slug category_slug=topic.category.slug question_slug=topic.question.slug %}">
                                            {% if request|is_mobile %}
                                                {{ topic.get_question_text|truncatechars:30 }}
                                            {% else %}
                                                {% if request|is_tablet %}
                                                    {{ topic.get_question_text|truncatechars:50 }}
                                                {% elif request|is_pc %}
                                                    {{ topic.get_question_text|truncatechars:65 }}
                                                {% endif %}
                                            {% endif %}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li><a href="{% url 'app_categories_list' app.slug %}" class="parent-link-full-display"><span class="link-full-display">{% trans 'View all questions' %}</span></a></li>
                            </ol>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{#<div>#}
{#    {% for q in question_to_remove %}#}
{#        {{ q }}#}
{#    {% endfor %}#}
{#    {% for t in topic_to_remove %}#}
{#        {{ t }}#}
{#    {% endfor %}#}
{#</div>#}
{% endblock %}


<div class="edge-swipe-overlay"></div>
{% block accordion %}{% endblock %}
{% block customjs-pagecode %}

{% endblock %}
