{% extends 'faq/home_faq.html' %}
{% load i18n staticfiles auth_tokens static humanize media_from_provider %}

{% block meta %}
    {% include 'core/snippets/color_and_icons.html' %}
    <meta name="abstract" content="{{ app.name }} FAQ | ikwen Apps Support" />
    <meta property="og:url" content="{{ service.url }}/{{ app.slug }}/{{ topic.slug }}/{{ question.slug }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ question.label }} | {{ app.name }} Support" />
    <meta property="og:image" content="{{ settings.IKWEN_MEDIA_URL }}{{ app.logo.name }}" />
    <meta property="og:description" content="{{ app.description }}" />
    <meta name="description" content="{{ app.description }}" />
    <meta property="og:site_name" content="ikwen.com/{{ app.name }}" />
{% endblock %}

{% block page_title %}
    <title> ikwen FAQ - {{ app.name }} </title>
{% endblock %}

{% block body-page %}
    <div class="topic-body">
        <div class="container topic">
            <div>
                {% if message %}
                    <div class="text-center" style="height: 300px; margin-top: 50px;">
                        <h2>{{ message }}</h2>
                    </div>
                {% else %}
                    <div>
                        {% block response_header %}
                            <span>
                                <a href="{% url 'faq:show_topic_list' app.slug %}">{{ app.name }}</a>&nbsp;&nbsp;&nbsp;&#8594;&nbsp;&nbsp;&nbsp;<a href="{% url 'faq:show_topic_list' app.slug %}">{{ topic.title }}</a>
                            </span>
                            <hr>
                        {% endblock %}

                    </div>

                    <div class="row" style="display: block">
                        <div class=" col-lg-9" style="margin: 2vh auto auto;float: none!important;">
                            {% block response_core %}
                                <div>
                                    <h3 style="line-height: 35px">{{ question.label }}</h3>
                                    <span class="topic-answer">
                                        <p>{{ question.answer|safe }}</p>
                                    </span>
                                </div>
                                <div class="header-opinion">
                                    <div id="opinion">
                                        {% with question.count_helpful as approvements %}
                                            {% if approvements > 1 %}
                                                {{ approvements }} {% trans " people approved" %}
                                            {% elif approvements == 0 or approvements == null %}
                                                {% trans "Be the first to approve" %}
                                            {% else %}
                                                {{ approvements }}{% trans " person approved" %}
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                </div>
                                <div style="margin-bottom: 6vh;">
                                    <hr>
                                    <div class="feedback">
                                        {% trans "Was this article helpful?" %}
                                        <div class="feedback-action">
                                            <a href="javascript:;" class="mark-helpful button-feedback" >
                                                    {% trans "YES" %}
                                            </a>
                                            <a href="javascript:;" class="mark-helpless button-feedback">
                                                    {% trans "NO" %}
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                {% if next_question %}
                                    <div title="{{ next_question.label }}" class="next-tutorial">
                                        {% url 'faq:question_detail' next_question.topic.app.slug next_question.topic.slug next_question.slug as next_tutorial %}
                                        <a href="{{ next_tutorial }}">{% trans "Next tutorial" %}   <i class="fas fa-angle-double-right" style="margin-left: 10px"></i></a>
                                    </div>
                                {% endif %}
                                <div class="faq-home-button text-center">
                                    <a href="{% url 'faq:show_topic_list' app.slug %}" class="return-faq-home">
                                        {% trans "FAQ" %} {{ app }}
                                    </a>
                                </div>
                                <div id="error-message" style="visibility: hidden;color:red">{% trans "Please reload" %}</div>
                            {% endblock %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $(function () {

            let endpoint = "{% url 'faq:save_user_feedback' %}",
                count_helpful = 0 , count_helpless = 0;

            $(".mark-helpful").click(function () {
                count_helpful = 1;
                let params = {
                    format: 'json',
                    q: '{{ question.slug }}',
                    count_helpful: count_helpful,
                    count_helpless: count_helpless
                };
                $.getJSON(endpoint, params, function(data, status, jqXHR){
                // handle callback here
                    if (data.error) {
                        console.log("Bad response\n");
                        $("#error-message").show().css("visibility","visible");
                    } else if (data.success) {
                          $(".feedback").text("{% trans 'Thank you for your feedback' %}");
                          if (data.count_helpful > 1)
                              $('#opinion').text(data.count_helpful+ "{% trans ' people approved' %}");
                          else
                              if ( data.count_helpful === 1 )
                                $('#opinion').text("{% trans "You're the first to have approved" %}");
                    }

                });
            });
            $(".mark-helpless").click(function () {
                count_helpless =1;
                let params = {
                    format: 'json',
                    q: '{{ question.slug }}',
                    count_helpful: count_helpful,
                    count_helpless: count_helpless
                };
                $.getJSON(endpoint, params, function(data, status, jqXHR){
                // handle callback here
                    if (data.error) {
                        console.log("Bad response\n");
                        $("#error-message").show().css("visibility","visible");
                    } else if (data.success) {
                        $(".feedback").text("{% trans 'Thank you for your feedback' %}");
                    }

                });
            });
            let params = {
                format: 'json',
                q:'{{ question.slug }}',
                user_views: 1
            };
            $.getJSON(endpoint, params, function(data, status, jqXHR){
                // handle callback here
                if (data.error) {
                    console.log("Bad response\n");
                } else if (data.success) {
                    console.log("This topic has been read\n");
                }
            });

            $('.topic-answer').find('img').addClass('img-responsive');
        })
    </script>
{% endblock %}
