{% extends 'faq/home_faq.html' %}
{% load i18n static humanize webdesign auth_tokens user_agents media_from_provider %}

{% block page_title %}
    <title>{{ app.name }} - {% trans 'FAQ' %}</title>
{% endblock %}

{% block meta %}
    {% include 'core/snippets/color_and_icons.html' %}
    {% include meta_snippet %}
{% endblock %}

{% block banner_title %}
    <h2>
        <span class="hidden-xs">{% trans "How can we help you on" %} {{ app.name }} <img width="40" src="{{ settings.IKWEN_MEDIA_URL }}{{ app.logo.name }}"> ?</span>
        <span class="visible-xs">{% trans "FAQ" %} {{ app.name }} <img width="40" src="{{ settings.IKWEN_MEDIA_URL }}{{ app.logo.name }}"> ?</span>
    </h2>
{% endblock %}

{% block body-page %}
    <div class="container-fluid" id="core-general-faq">
        <div class="row" style="padding: 0 0 125px;">
            <div id="accordion" class="panel-group col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" style="padding: 0">
                {% for topic in topic_list %}
                  <div class="panel panel-default accordion-card mb-lg-auto mb-5">
                    <div class="panel-heading accordion-header">
                        <a class="topic-name" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                            <h4 class="mb-0 headding-style panel-title">
                                <i class="fas fa-angle-right rotate-icon italic-style" aria-hidden="true"></i>
                                <strong>{{ topic.title }}</strong>
                            </h4>
                            <div class="text-muted summary">
                                {% if topic.summary %}
                                    {{ topic.summary|safe }}
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse accordion-body w3-z">
                      <div class="panel-body panel-question">
                          <ul class="list-unstyled nav nav-pills nav-stacked" >
                            {% for question in topic.question_list %}
                                <li>
                                    <a href="{% url 'faq:question_detail' app.slug question.topic.slug question.slug %}">
                                        {{ question.label }}
                                    </a>
                                </li>
                            {% endfor%}
                          </ul>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                <div>
                    <a href="{% url 'home' %}" class="go-home">
                        {% trans 'Go back home' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    {{ block.super }}
    <script>
        $(function () {
            var selector = $("a.topic-name"),
                categories = $.makeArray(selector), previous_click_index = -1, previous_click = null, clickIndex = -1,
                angle_icon = $("i.fas");
            $(this).find(selector).click(function () {
                var current_click_index = $.inArray(this, categories),
                    current_click = $(this);
                clickIndex ++;
                if ( current_click_index !==-1 ){
                    if ( previous_click_index !== current_click_index ) {
                        if (clickIndex) {
                            previous_click.parents(".accordion-card").removeClass("card-bgd");
                            previous_click.parents(".accordion-header").removeClass("card-header-bgd");
                            previous_click.find(angle_icon).removeClass("fa-angle-down").addClass("fa-angle-right");
                        }
                    }
                    current_click.parents(".accordion-card").toggleClass("card-bgd");
                    current_click.parents(".accordion-header").toggleClass("card-header-bgd");
                    if ( current_click.hasClass("fa-angle-down") ) {
                        current_click.find(angle_icon).toggleClass("fa-angle-right fa-angle-down");
                    } else {
                        current_click.find(angle_icon).toggleClass("fa-angle-down fa-angle-right");
                    }
                }
                previous_click_index = current_click_index ;
                previous_click = current_click;
            });
        })
    </script>
{% endblock %}




















