{% extends "support/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block banner %}
    <div id="tuto-top" class="toolbar subtle-shade">
        <img src>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li>Tutorials
                    <ul>
                        <li><a href=""></a>Shavida</li>
                        <li><a href=""></a>Ikwen</li>
                        <li><a href=""></a>KakoCase</li>
                        <li><a href=""></a>Wangnhe</li>
                    </ul>
                </li>
                <li>Contact</li>
            </ul>
        </nav>
    </div>
{% endblock %}



