<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="http://assets.ikwen.com/ikwen/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://assets.ikwen.com/ikwen/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://assets.ikwen.com/ikwen/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://assets.ikwen.com/ikwen/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://assets.ikwen.com/ikwen/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://assets.ikwen.com/ikwen/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://assets.ikwen.com/ikwen/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://assets.ikwen.com/ikwen/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://assets.ikwen.com/ikwen/favicons/apple-icon-180x180.png">
    <link rel="shortcut icon" type="image/png" sizes="192x192" href="http://assets.ikwen.com/ikwen/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://assets.ikwen.com/ikwen/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="http://assets.ikwen.com/ikwen/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://assets.ikwen.com/ikwen/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="http://assets.ikwen.com/ikwen/favicons/ms-icon-144x144.png">
    <style rel="stylesheet">
        .picture-features{
            width: 100px;
        }
        .FAQstyle{
            width:260px;
            height:700px;
            vertical-align:center;
            margin-right:160px;
        }
        .ordered-list-style{
            list-style-type:none;
            list-style-position:outside;
            line-height:20px;
            margin-right: -52px;
        }
        .ordered-list-style>li{
            margin-bottom:12px;
        }
    </style>

    <title> ikwen FAQ </title>
   


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="http://static.ikwen.com/ikwen/css/flatly.bootstrap.min.css">
    <link rel="stylesheet" href="http://static.ikwen.com/website/css/com/base_default.css">

    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="http://static.ikwen.com/tsunami/css/tsunami_homepage.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
    <script src="http://static.ikwen.com/ikwen/js/jquery-1.12.4.min.js"></script>

</head>

<body>
    <div id="top-notice-ctnr" style="display: none">
        <span class="floating-notice has-shade" style="float: none; position: static"> </span>
    </div>



    <nav id="navbar" class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="container-fluid">
                    <i class="glyphicon glyphicon-menu-left back"></i>
                    <div class="menu-button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>

                    <a class="navbar-brand hidden-xs" href="http://www.ikwen.com">
                        <strong>ikwen</strong>
                    </a>
                    <strong class="navbar-brand visible-xs">ikwen</strong>


                    <!-- <nav class="visible-xs pull-right">
                                        <ul id="nav-xs" class="nav navbar-nav navbar-right">
                                            <li class="show-search">
                                                <a>
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </a>
                                            </li>
                                            
                                                <li class="home">
                                                    <a href="http://www.ikwen.com/console/">
                                                        <i class="glyphicon glyphicon-bell" aria-hidden="true"></i>
                                                        
                                                            <span class="label label-danger">2</span>
                                                        
                                                    </a>
                                                </li>
                                                
                                                    <li class="dropdown">
                                                        <a id="apps-xs" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="glyphicon glyphicon-th-large"></i>
                                                        </a>
                                                        <ul class="dropdown-menu" aria-labelledby="apps-xs" style="right: -39px">
                                                            
                                                                <li><a href="http://jackydesign.cm/ikwen/staffRouter/">Jacky Design</a></li>
                                                            
                                                                <li><a href="http://codafadome.ikwen.com/ikwen/staffRouter/">codafadome</a></li>
                                                            
                                                                <li><a href="http://kemiza.com/ikwen/staffRouter/">Kemiza</a></li>
                                                            
                                                                <li><a href="http://wireshark.kakocase.com/ikwen/staffRouter/">Wireshark</a></li>
                                                            
                                                        </ul>
                                                    </li>
                                                
                                                <li class="dropdown">
                                                    <a id="user-menu-xs" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                    </a>
                                                    <ul class="dropdown-menu" aria-labelledby="user-menu-xs">
                                                        <li style="padding: 3px 20px"> Yvan </li>
                                                        <li role="separator" class="divider"></li>
                                                        <li>
                                                            <a href="http://www.ikwen.com/accountSetup/">Account setup</a>
                                                        </li>
                                                        <li><a href="/logout">Logout</a> </li>
                                                    </ul>
                                                </li>
                                            
                                        </ul>
                                    </nav> -->

                </div>
            </div>


            <div id="navbar-search" class="navbar-form navbar-left">
                <form id="search" autocomplete="off" onsubmit="return false">
                    <i class="glyphicon glyphicon-menu-left hide-search visible-xs"></i>
                    <i class="glyphicon glyphicon-search hidden-xs"></i>
                    <input type="text" name="radix" class="form-control input-sm" placeholder="Search">
                    <input type="hidden" name="q">
                    <span class="spinner" style="display: none"></span>
                </form>
                <div id="navbar-results" style="display: none" data-min-search-chars="2">
                    <div class="stage">

                        <div class="spinner" style="display: none">
                            <div style="margin: 15px auto; width: 52px">
                                <svg class="spinner-container" width="50px" height="50px" viewBox="0 0 52 52">
                                    <circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px"></circle>
                                </svg>
                            </div>
                        </div>
                        <ul style="float: left; padding-left: 0; width: 100%">
                            <li class="ik-li tpl" style="display: none">
                                <a class="target_url" style="display: block">
                                    <span class="image rounded photo logo bg-img" style="background-image: url(http://static.ikwen.com/ikwen/img/no_photo.png)"></span>
                                    <div class="info">
                                        <div class="full_name project_name has-faded-edge"></div>
                                        <p class="about short_description minor-tag"></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="site-menu" class="collapse navbar-collapse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-right" style="margin: 0 -15px 0 0">

                        <li id="user-home">
                            <a href="http://www.ikwen.com/console/">
                                Home

                                <span class="label label-danger" style="margin-top: -18px">2</span>

                            </a>
                        </li>

                        <li id="user-apps" class="dropdown">
                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Apps</a>
                            <ul class="dropdown-menu" aria-labelledby="apps">

                                <li><a href="http://jackydesign.cm/ikwen/staffRouter/">Jacky Design</a></li>

                                <li><a href="http://codafadome.ikwen.com/ikwen/staffRouter/">codafadome</a></li>

                                <li><a href="http://kemiza.com/ikwen/staffRouter/">Kemiza</a></li>

                                <li><a href="http://wireshark.kakocase.com/ikwen/staffRouter/">Wireshark</a></li>

                            </ul>
                        </li>

                        <li id="user-menu" class="dropdown">
                            <a class="icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-user"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="user-menu">
                                <li style="padding: 3px 20px"> Yvan </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="http://www.ikwen.com/accountSetup/">Account setup</a>
                                </li>
                                <li><a href="/logout">Logout</a> </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </nav>




    <!-- <div id="section-header-general-view" class="container-fluid section-header" style="padding-top: 6vh;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center mobile-adjust" style="padding-top: 20vh">
                <img style="max-width: 120px" alt="logo_ikwen_TSUNAMI" src="http://static.ikwen.com/tsunami/img/Logo-IKWEN-Tsunami.png">
              <h1 class="mobile-adjust" style="font-size: 3.5vw;">Reach more customers and sell all your stocks with Tsunami</h1>
                <p class="mobile-adjust" style="">
                    Tsunami builds for you a persistent customer base and offers your products to this community via continuous automated Mail and SMS reminders.You should consider increasing your available stocks.... 
                </p>
                <a href="/tsunami/bundles" class="btn btn-outline-primary mobile-adjust" style="margin-top: 20px; height: 45px;">Deploy <b>Tsunami</b></a>
                <div class="anchor">
                    <a class="js-scrollTo" href="#banniere-top" style="text-decoration: none"><i class="fa fa-arrow-circle-down"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="section-header-iPad-view" class="container-fluid section-header" style="display: none;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center mobile-adjust" style="padding-top: 20vh">
                <img style="max-width: 120px" alt="logo_ikwen_TSUNAMI" src="http://static.ikwen.com/tsunami/img/Logo-IKWEN-Tsunami.png">
              <h1 class="mobile-adjust" style="font-size: 3.5vw;">Reach more customers and sell all your stocks with Tsunami</h1>
                <p class="mobile-adjust" style="">
                    Tsunami builds for you a persistent customer base and offers your products to this community via continuous automated Mail and SMS reminders.You should consider increasing your available stocks.... 
                </p>
                <a href="/tsunami/bundles" class="btn btn-outline-primary mobile-adjust" style="margin-top: 20px; height: 45px;">Deploy <b>Tsunami</b></a>
                <div class="anchor">
                    <a class="js-scrollTo" href="#banniere-top" style="text-decoration: none"><i class="fa fa-arrow-circle-down"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="banniere-top" class="container-fluid">
        <div class="row section-banniere-top" style="margin-top: 0;">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 7vh">
              <h1>Go digital with IKWEN Tsunami </h1>
                <a href="/tsunami/bundles" class="btn btn-outline-secondary animated pulse mobile-adjust" style="font-weight: bold; margin: 20px; height: 45px;"><span style="">Deploy Tsunami</span></a>
            </div>
        </div>
        <div id="section-banniere-top-iPad-view" class="row section-banniere-top" style="display: none">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1>Passez au digital avec ikwen Tsunami </h1>
                <a href="/tsunami/bundles" class="btn btn-outline-primary mobile-adjust" style="margin-top: 20px; height: 45px;">Deploy <b>Tsunami</b></a>
            </div>
        </div>
    </div> -->
    <div class="container-fluid" style="padding-top:10vh;">
        <div class="row custom_row" style="padding-top: 5vh;background-color: #233682;float:center;">
            <div class="container" sytle="margin:auto;font-size:50%">
                <div class="col-md-6 section-features-text second-on-mobile" style="margin:auto;float:inherit;padding-bottom:70px;text-align:center">
                    <table colspan="" style="color:#ffffff; margin: -30px auto auto auto;">
                        <th>
                            <p style="text-align:center">How do we help you?<br></p>
                        </th>
                        <tr >
                            <td>
                                <form action="#" method="get" name="formQuestion" >
                                    <p style="text-align:center">
                                        <input type="text" value="" placeholder=" Describe your question" name="question" id="id_question" size="40"
                                            style="border-radius:20px;-webkit-border-radius:18px;padding-left: 12px;color: black;" autofocus>
                                    <br>
                                    </p>
                                </form>
                            </td>
                        </tr>
                        <tr style="width:inherit">
                            <td>
                                <p>
                                    You can browse the topics below to find what you are looking for
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row custom_row" style="padding-bottom:-40px">
             <div class="col-md-6 section-features-text second-on-mobile" style="padding-top: 5vh;">
               <h2 class="mobile-adjust">Frequently Asked Questions</h2>
            </div>
        </div>

        <div class="row custom_row" style="padding-top:-25px">
               <div class="col-md-6 section-features-text second-on-mobile" style="padding-top: 15vh;">
                    <table >
                        <tr>
                            <td>
                                <div class="FAQstyle">
                                    <img class="picture-features" src="https://lh3.googleusercontent.com/E3M-cE9nVJO88tPnZihKn7rrDMtfONw_C9LxiU3_d7YSvpj8h5puaekErZI_LNvV7ELn2f1LfAn9M7-_90EbJKbrKZzMg1hhuBClOWg4L3-l-ADitcdeT3R06_XRZv6d7m2pgx-qHg4HPIXTG4cd3x1JtWDh5VqEsYL1Y_aSMokyGZ8d2jBefO7zm6r01Xeg6CH3mT4lZIq4bN_kByijaKEAtByHn8uKtILhdlggjsABwcV-H4CYOl_YOkNHdRFVQdAB6DfxCn3uP2vNo_fCI6rveLKm6S743isrcF3GfzL8m-hxlfkjaSxACuvDtoCgd3MGUD0KpDxaxDtHP5YwDOqsym7lJoqCLX2CH0zVosOH6-67jPiNOxBA2gsETx-mTMvrWgS_8buH7QmuTj5yz8Jy7iSt0xFq6LdifPIKx7tyP7g-8oFmjIwDUYa5vhVkJyYfQosfQoT8ePuleIOvHKC0JuoCkz5WbU6Mb760FVMviysp4JgKK-Rm2X4x0H6OLKnP-qphM81Ur1XZW4re2rgl9VMl4KQWaB41ZjNeJ24AlIDgYBHxZvoIn2eQPv8PLhJdD6k5g8Qp58TFPxxLarnZLkPOWuhT3au5vjB6ekxlaUjJcNFMtihb_YnArdeURJJCyRRQDr7K_aGB4Kr8ADpy=s512-no">
                                    General FAQ
                                    <div>
                                        
                                            <span ><a href="#" style="color:#8f8d8d">view all questions</a></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                    <div class="FAQstyle">
                                        <img class="picture-features" src="https://lh3.googleusercontent.com/45Mt_Anx7KNCQnhsM2IRmqiqZYC4Bfp0loFOfoy4qyE4NooJtLIEjXXd9ETO_g1wR5Fd9J0QWa_8E8rw5g0ZJmYHjFBudYJ6KHH4qG6ivCVq23AU3OuxMhrXmC-Bh243g99gHVYCLi714ILv866H4-WlAiRxqP8RTdfQ0vq5zPEPt7i1wLFljTBiN9I05ipTTr6b8aqbjM3ARvT_vNkF9eDPZWNFVJHtnwfZjeMquUuTcfgOyuODFL4xKs7uXFnnXnEl-rENbXwtdzmEPoQia5nUPFc5_eRVCHXonPV4CIQei0qwifjanfiNVcnXqjUnztXzimlTsaBF9L5TxqffIVhVRX4AG7fUBr7iBHjiB_gpfJnqrelfrGO4NA7tefK9RSIUAFGmCpg_OtXL_kP4QqYOm54TeXqtDLcgorEBDyASPwO-D3IYynTpbwUtM4bJsIYbOFMLTtcRN8AROJ3YYARK9qQHIdF_-XT1LJujlR9imGR5wl2OdzWlTN1hLNE9B8hzZt5Je9oMxa2rjHYxAX8PQdbCRB8i1UGVB658EkszaP_i9mpgDLB0Kn6lMrXQoYOL315ZlwxXX_N0VHZDCzVSZLqlqn7vCbiIWJ_9sSiUGl_BblWMPB_yxENkQSpkHTKnJRR_P75FACEGHYe8olAf=s641-no">
                                        Kakocase FAQ
                                        <div style="width:inherit;">
                                            <p style="line-height:30px">
                                                <ol class="ordered-list-style">                                        
                                                    <li><a href="#">How do I add contacts to my CCM</a></li>
                                                    <li><a href="#">How do I set revivals</a></li>
                                                    <li><a href="#">What is smart revivals ? How it works</a></li>
                                                    <li><a href="#">I can’t confirm a purchase, there’s no Checkout/Payment button</a></li>
                                                    <li><a href="#">How do I add a product ?</a></li>
                                                    <li><a href="#">Nothing appears on my homepage. Why ?</a></li>
                                                    <li><a href="#">Where does money go after a mobile money online Payment ? How do I get my money ?</a></li>
                                                    <li><a href="#">How coupons work ? How do I create and distribute coupons ?</a></li>
                                                </ol>
                                                <span><a href="#" style="color:#8f8d8d">view all questions</a></span>
                                            </p>
                                        </div>
                                    </div>
                            </td>
                            <td>
                                    <div class="FAQstyle">
                                        <img class="picture-features" src="https://lh3.googleusercontent.com/C5Dkv6VxHZy921eGuVsi8-3GxrTsnjlwI3MrJTHobnX90--kDqbW19hEAqe2vKe_REw4xu-wm7BOYzG8nFCIWfJdHK0dk_TSILiDOB9CvY8R11Z4WLGOSUL4u2aN24XjwT0B2MZhAifGheE5mTYQEfIIiDBvZbQw_w0YxfCfoHoIODkhM5mzjMzcdKehK_u8SQImLHIpmYwt4aOgKG3HCYKFx_EDlVmtjQlnsv7DrVOw_RzlsXIZ0EBUt25SM2NWTu0Eb1gsK9TeUXTZN2X0FU7ugAj9p1z9mQqvR_pp2Yl2FBe3U_tAI8XrWIBVO7aNzk6Nw_NgF2kOplJ0In8qpinUzzcyF6fGV6WeI_rkZ4SX-krQIZcaL5UcwwdSYLcy71lC9Xf1vre18_v0y1fX-g0uz8IPDj1WLGkKoyhPxQ3wuG5DcYRRY8g95Wy_3NqDze7nAmL8AymnazDjo5xRj2g4mMV0EpfBwg2NMlv5i2osC1HwTqvkJQSHRCSnwvcWgcubsX_K2hFurGgp14lfHGdlPRN6Gkdd95U5FwMU5XWhJIXzcXp6FL44NM34fK_No4OtJAlq5fN2_ynDjj4ZaYX03ZAlPRt1d97lJByWKSauOW-RCB4ZLtvHJNUVd3xjpoOA6JltLnOd2iyWDZCQ2rQ-=w785-h773-no">
                                        Tsunami FAQ
                                        <div>
                                                <p style="line-height:30px">
                                                        <ol class="ordered-list-style">                                        
                                                            <li><a href="/home/theyogam/Documents/ikwenFiles/Tsunami/Tsunami FAQ/Tsunami FAQ.html">How does Tsunami build the customer database ?</a></li>
                                                            <li><a href="/home/theyogam/Documents/ikwenFiles/Tsunami/Tsunami FAQ/Tsunami FAQ2.html">How does Tsunami send my products to potential customers ?</a></li>
                                                            <li><a href="/home/theyogam/Documents/ikwenFiles/Tsunami/Tsunami FAQ/Tsunami FAQ3.html">How do targeted revivals work ?</a></li>
                                                            <li><a href="/home/theyogam/Documents/ikwenFiles/Tsunami/Tsunami FAQ/Tsunami FAQ4.html">How does customer retention work ?</a></li>
                                                            <li><a href="/home/theyogam/Documents/ikwenFiles/Tsunami/Tsunami FAQ/Tsunami FAQ5.html">How do I get my money from online sales ?</a></li>
                                                            <li><a href="/home/theyogam/Documents/ikwenFiles/Tsunami/Tsunami FAQ/Tsunami FAQ6.html">How do I get my icon on my customers’ phone ?</a></li>
                                                            <li><a href="/home/theyogam/Documents/ikwenFiles/Tsunami/Tsunami FAQ/Tsunami FAQ7.html">Can I use my own SMS API ?</a></li>
                                                            <li><a href="/home/theyogam/Documents/ikwenFiles/Tsunami/Tsunami FAQ/Tsunami FAQ8.html">Do you offer professional e-mails ?</a></li>
                                                        </ol>
                                                        <span><a href="#" style="color:#8f8d8d">view all questions</a></span>
                                                    </p>     
                                        </div>
                                    </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="FAQstyle">
                                    <img class="picture-features" src="https://lh3.googleusercontent.com/or3XapdOG4AiI_uEabC05Wrr7bJTCBusVBM-noVvpDc4-RTf3tqPWhuIdNM-F3MH5zDDdjaDXuT0pYQcqEba87UBwRfxt2j88B7UUYJiwvgx987GO08686osiQ1eLpUn3b4T1arVd422AWp35xquxGTx-8zG9zje1s1Ovxhtj_SCV2zHp0OYkqgRkgT8oyCo9Qv3Z7zysLIO-FmfKJE1fTRi6CuNA4tauuMeX1_VHWYbKQkwf7JSudbMplrlshig_VCLppVxynFmVWYyW75WaOKH3-UqY93pqxovwN5KCcO1xPHy22JU-h15v6pbCmUv_hQStp9yTI8a-kh3TPX5AFvG-AZ05q4fwPliTUbJb9QJMU380aRdBnZHmoEbzn2zvO1p9SgHPLV6qhBXNEViqmSy-oTC35tZ7HiUciJDvnhshkVzEZBRiUShPInVWVV2nSeyvKm32SQvMnJvKOJzavWOrJ5vONFhJbJlO6u5XSmn0f3jqlUeD9o7sbtHFqsDwqyP99p4bNq4xL4hJIGsQGh0myBMGYtC7UkhxLqxFiJ9vTUkM98lmUE8CfQ1-h4x2NaEZ_IwawBy1zbPCgeCyli73aObGrBXg-V3_bQkQvBL0kYTTEQf2-lRqw6ht1tz-nDbI2pfwOusglhXZpUzZSKi=s500-no">
                                            Webnode FAQ
                                    <div>
                                          
                                            <span ><a href="#" style="color:#8f8d8d">view all questions</a></span>
                                    </div>
                                </div>
                            </td>
                            
                            <td>
                                        <div class="FAQstyle">
                                            <img class="picto-features" src="https://lh3.googleusercontent.com/UyHUVAtDriVbw2xm2jzF_nygN4ymrX9FK7IMBBha7u1LgYsKM-rMRK8dAmVG0zsm_bk-eU0Pix8FpWLaOU65DP_QhUUFxAaJmOiqjId4XhPiTJmc_PyeXkuqZCPaWhlEM5D3H-JItxOkLmzw2Lyou4jJ4w-uKfew-8iMQsKODPY0uJtQGWGHi_O3_nUhxc_enKAWFM0TU32u1rWxhmB9hhZTosFHAtiRUuYjrPDPbUsqU2uohxGfQYo9idvOE_CMiZGPM_tD29-qPGbbrbNjqLbKC1JL-qapTx1ngVW0Qj7xa-_INGD97fYs03NFRO9Xhx4Ec97Fx-wF8P1jLQE0FUn_IKkLFN5DqcsLeVUz6Al3VvcbGbyfkkQTDUwyLHVH7qz5aplnDxLVH63ND8eupR9tqJ5Tk2MdEGeTQvXx3JcvgfbP5L9tBO4as_O_MXdWRCc6f03vUovHVtCgk4tXuPmpWIQmkkNbzEo6oAnCs83IoamsVDyz6QLW2pP9retvf1xafJbvGDgsjR0RI9PaSsOwcqXva8Qg42W12S2iu0Viq7IgnnI-_opJiUUmBDPd7FuL_kJ4PC6f5kNAjWyFvnk87k85r1c0ypV8LVlSJd9ERO7g4TWwxEnUp1vvYUHguQT-uuZPzS70P3o0T5QwEwly=w1282-h641-no">
                                            Pinsview FAQ 
                                            <div>
                                                 
                                                
                                                <span ><a href="#" style="color:#8f8d8d">view all questions</a></span>
                                            </div>
                                        </div>
                            </td>
                        </tr>
                    </table>
               </div>
            </div>
        <!-- <div class="row custom_row">
            <div class="col-md-6 section-features-text second-on-mobile">
                <img class="picto-features" alt="picto_sold_everywhere" src="http://static.ikwen.com/tsunami/img/sold_everywhere_picto.png">
                <h2 class="mobile-adjust">Sell everywhere, sell everytime... Sell online</h2>
                <p class="mobile-adjust">
                    Tsunami ensures that you no longer lose any opportunity to sell, by making your products directly
                    available online, on all platforms, 24/7. Yes, you have your own e-commerce web/mobile site.
                    Customers can order immediately after receiving your messages and pay online using MTN Mobile Money
                    and Orange Money.
                </p>
                <a href="http://blog.ikwen.com/kakocase-le-e-commerce-par-ikwen/" target="_blank" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;"
                    class="discover-link">Discover KAKOCASE&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
            </div>
            <div class="col-md-6 col-sm-6 first-on-mobile">
                <img class="img-features" alt="img_client_list_exploitation" src="http://static.ikwen.com/tsunami/img/sold_everywhere.png">
            </div>
        </div> -->

    </div>
    </div>
    <!-- <div class="container-fluid">
        <div class="row section-banniere">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 3.5vh">
              <h1>Go digital with IKWEN Tsunami</h1>
                <a href="/tsunami/bundles" class="btn btn-outline-secondary animated pulse mobile-adjust" style="font-weight: bold; margin: 20px; height: 45px;"><span style="">Deploy <b>Tsunami</b></span></a>
            </div>
        </div>
    </div> -->


    <footer class="footer">
        <div class="container">
            <div class="row" style="margin-bottom: 15px">
                <div class="col-sm-3" style="margin-top: 4vh; text-align: center;">
                    <a href="ikwen.com">
                        <h4 style="color: #ffffff; font-size: 1.8vw; text-align: center;" class="logo footer-mobile-adjust">
                            ikwen</h4>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-4 footer-mobile-adjust">
                    <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">Get started</h5>
                    <ul style="font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                        <li><a style="color: #d2d1d1;" href="/tsunami/">Home</a></li>
                        <li><a style="color: #d2d1d1;" href="http://www.ikwen.com/" target="_blank">Sign In</a></li>

                    </ul>
                </div>
                <div class="col-sm-3 col-xs-4 footer-mobile-adjust">
                    <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">About us</h5>
                    <ul style=" font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                        <li><a style="color: #d2d1d1;" href="http://www.ikwen.com/about" target="_blank">Our Company</a></li>

                        <li><a style="color: #d2d1d1;" href="#" target="_blank">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-4 footer-mobile-adjust">
                    <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">Support</h5>
                    <ul style="font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                        <li><a style="color: #d2d1d1;" href="http://blog.ikwen.com/" target="_blank">Blog</a></li>
                        <li><a style="color: #d2d1d1;" href="http://support.ikwen.com/" target="_blank">Help desk</a></li>

                    </ul>
                </div>








            </div>
        </div>
        <div class="footer-copyright mobile-adjust" style="padding: 3px 0; text-align: center;">
            © 2019 <a class="company-name" href="http://www.ikwen.com"><strong style="color: #ffffff">ikwen</strong></a>.
        </div>
    </footer>

    <div class="edge-swipe-overlay"></div>
    <script src="http://static.ikwen.com/ikwen/js/bootstrap.min.js"></script>
    <script src="http://static.ikwen.com/ikwen/hammerjs/hammer.min.js"></script>
    <script src="http://static.ikwen.com/ikwen/hammerjs/jquery.hammer.js"></script>
    <script src="http://static.ikwen.com/ikwen/js/ikwen-util.js"></script>

    <script>
        (function () {
            $('form#lang a').click(function () {
                var lang = $(this).data('val');
                $('form#lang input[name=language]').val(lang);
                $('form#lang').submit();
                return false
            });

            $('#nav-xs').on('click', '.show-search', function () {
                $('#navbar-search').prependTo('body').fadeIn().find('input').focus();
            });
            $('#navbar-search').on('click', '.hide-search', function () {
                $('#navbar-search').fadeOut();
                $(this).val("");
                $('#search-results').fadeOut()
            });
            if ($(window).width() < 992) {
                $('.edge-panel-left').addClass('has-shade').appendTo('.edge-swipe-overlay')
            }
            $(window).resize(ikwen.debouncer(function (e) {
                var winWidth = $(window).width();
                if (winWidth < 768) {
                    if (!$('#navbar-search').is(':visible')) {
                        $('#navbar-search').prependTo('body');
                        $('#navbar-search input').focus();
                    }
                    $('.edge-panel-right').addClass('has-shade').appendTo('.edge-swipe-overlay');
                } else if (winWidth >= 768) {
                    $('#navbar-search').insertBefore('#site-menu');
                    $('.edge-panel-right').css('margin-right', 0).removeClass('has-shade').appendTo('.edge-panel-right-container').show();
                }
                if (winWidth >= 992) {
                    $('.edge-panel-left').css('margin-left', 0).removeClass('has-shade').appendTo('.edge-panel-left-container').show();
                } else {
                    $('.edge-panel-left').addClass('has-shade').appendTo('.edge-swipe-overlay');
                }
            }));

            $(window).on("scroll", function () {
                if ($(window).scrollTop() > 150) {
                    $(".navbar").addClass("active");
                    $("#navbar-search").addClass("active");

                } else {
                    //remove the background property so it comes transparent again (defined in your css)
                    $(".navbar").removeClass("active");
                    $("#navbar-search").removeClass("active");
                }
            });

            $('.js-scrollTo').on('click', function () {
                var page = $(this).attr('href');
                var speed = 750;
                $('html, body').animate({ scrollTop: $(page).offset().top }, speed);
                return false;
            });


            var searchDescriptor = [{
                endpoint: 'http://www.ikwen.com/list_projects',
                resultTplSelector: '#navbar-results .ik-li',
                jsonp: true
            }];
            $('form#search input').focusout(function () { $('#navbar-results').fadeOut() });
            ikwen.setupSearch('#search input', '#navbar-results', searchDescriptor);
        })()
    </script>


</body>

</html>