{% extends "base1.html" %}
{% load i18n %}
{% load staticfiles %}
{% block meta %}
<meta name="abstract" content="{{ WEBSITE_NAME }} - {{ WEBSITE_SLOGAN }}"/>
{% endblock %}
{% block page_title %} <title></title> {% endblock %}
{% block custom_head %}
    <meta property="og:title" content=" "/>
    <meta property="og:description" content=""/>
{#    <meta property="og:image" content="{{ post.media.url }}"/>#}
    <style>

    </style>
{% endblock %}
{% block side_nav %}

{% endblock %}
{% block content %}

{% endblock %}
{% block custom_js %}
    <script type="text/javascript">
        (function() {

        })()
    </script>
{% endblock %}
